* {
    text-decoration: none;
}

a:link {
    color: black;
}

#links-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh;
    border-bottom: 1px solid black;
    padding-left: 2vw;
    padding-right: 2vw;
    height: 10vh;
    
}
#nav-list {
    display: flex;
    justify-content: space-between;
    font-family: 'T-Star Regular';
    font-size: 1.6vw;
}

#nav-list div {
    padding-left: 1vw;
    padding-right: 1vw;
}

#main-logo {  
    display: flex;
    justify-content: start;
    padding-right: 30vw;
   
}

#main-logo a {
    font-family: 'HWT Artz';
    font-size: 3vw;
}

#main-logo img {
    width: 3vw;
    margin-left: 1vw;
}

#nav-list div:hover {
    text-decoration: underline;
}

#nav-icons {
    display: flex;
    justify-content: space-between;
    font-size: 2vw;
}

#nav-icons div {
    padding-left: 0.25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-components {
    display: flex;
    justify-content: center;
    width: min-content;
}

#cart-link {
    cursor: pointer;
}

#cart-number {
    color: black;
    font-size: 1.8vw;
}

#account-link {
    padding-right: 0.5vw;
}

.yellow{
    background-color:#ffe394 ;
}

.pink {
    background-color: #feb8af;
}

@media all and (max-width: 1200px) {
    #links-icons {
        border-bottom: 1px solid black;
        width: 100vw;
    }

    #main-logo a {
       font-size: 7vw;
    }

    #main-logo img, #recipes-link {
        display: none;
    }

    #nav-list > div {
        flex-wrap: wrap;
        font-size: 3.5vw;
    }

    #nav-icons {
       font-size: 4.75vw;
      
    }

    #nav-icons:first {
        display: none;
    }

    #about-link {
        display: none;
    }

    #products-link {
        width: 6vw;
    }

}