.soup-swiper { 
    display: block;
    background-color: #feb8af;
    width: 100vw;
    height: 100vh;
}

.soup-inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.soup-video {
    width: 50vw;
    margin-top: -10vh;
    cursor: pointer;
}

.soup-header {
    font-size: 2.5vw;
    margin-top: -10vh;
    padding: 2vh;
    text-align: center;
    text-transform: uppercase;
}

.soup-button {
    display: block;
    margin: auto;
    font-size: 1.5vw;
    border: 2px solid black;
    text-transform: uppercase;
    width: 10vw;
    text-align: center;
    border-radius: 4vw;
    padding: 1vh;
}


