#press-swiper-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: 15vh;
    overflow: hidden;

    

}

.all-press {
    position: absolute;
        left: -1400px;
        animation: movePress 15s ease-in-out;
        animation-iteration-count: infinite;
        transition-timing-function: ease-in;
        overflow: hidden;
        z-index: -1;
}


.press > img {
    height: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

@keyframes movePress{
    0% {
        transform: translate(0%);
        transition-delay: 300ms;
        }
    
    20% {
        transform: translate(40%);
        transition-delay: 300ms;
    }

    40% {
        transform: translate(80%);
        transition-delay: 300ms;
    }

    60% {
        transform: translate(120%);
        transition-delay: 3700ms;
    }

    80% {
        transform: translate(160%);
        transition-delay: 200ms;
    }

    
    100% {
        transform: translate(200%);
        transition-delay: 200ms;
        }
}

/* noodle path */

svg.text-path {
    width: 100%;
    height: auto;
    overflow: visible;
    top: 5vh;
    text-transform: uppercase;
}

#curve {
    fill: none;
}


/* feature chart */

.pure-g {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: end;
    align-items: flex-end;
    overflow-x: hidden;
    padding-top: 5vh;
    /* box-sizing:border-box; */
    
}
.pure-u-lg-1-6 {
    margin-left: 1vw;
    margin-right: 1vw;
}

.feature-img {
    display: block;
    margin: auto;
    max-width: 12vw;
   /* height: 15vh; */
}

.feature-header {
    text-align: center;
    font-size: 1.75vw;
    margin-top: 3vh;
    margin-bottom: 2vh;
    letter-spacing: 0.03em;
}

.feature-text {
    display: block;
    font-size: 1.2vw;
    font-family: 'T-Star Regular';
    letter-spacing: 0.04em;
    text-align: center;
    width: 10vw;
    height: 12vh;
    margin: auto;

}