#press-swiper-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: 100vh;
    overflow: hidden;

    

}

.all-press {
    position: absolute;
        left: -1400px;
        animation: movePress 15s ease-in-out;
        animation-iteration-count: infinite;
        transition-timing-function: ease-in;
        overflow: hidden;
        z-index: -1;
}


.press > img {
    height: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

@keyframes movePress{
    0% {
        transform: translate(0%);
        transition-delay: 300ms;
        }
    
    20% {
        transform: translate(40%);
        transition-delay: 300ms;
    }

    40% {
        transform: translate(80%);
        transition-delay: 300ms;
    }

    60% {
        transform: translate(120%);
        transition-delay: 3700ms;
    }

    80% {
        transform: translate(160%);
        transition-delay: 200ms;
    }

    
    100% {
        transform: translate(200%);
        transition-delay: 200ms;
        }
}
