
#login-component {
    margin-top: 6%;
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

#login-header {
    font-size: 4vw;
    text-transform: uppercase;
    padding-bottom: 6vh;
    text-align: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 32vw;
}

#login-errors {
    font-size: 1.5vw;
    background-color: #feb8af;
    margin-bottom: 3vh;
    text-align: center;
    text-transform: uppercase;

}

#login-form input, #login-form button {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.02em;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 0.75vw;
    padding-bottom: 0.75vw;
    border-radius: 2vw;
    margin-bottom: 1.5vh;
    font-size: 1.25vw;
    width: stretch;

}

#login-form input {
    border: 0;
    outline: 0;
    background-color: #ececec;
    text-transform: none;
}

#login-form ::placeholder {
    text-transform: uppercase;
}

#login-form button {
    border: 1px solid black;
}

#login-form button:hover {
    background-color: black;
    color: white;
}

#signup-link {
    font-size: 1.5vw;
    margin-top: 1vh;
    text-align: center;
}

#login-cartoon {
    display: block;
    position: absolute;
    right: 10vw;
    bottom: 7vh;
    width: 9vw;
}

@media all and (max-width: 1024px) {
    #login-component {
        padding-top: 5vh;
    }

    #login-header {
        font-size: 8vw;
    }

    #login-form {
        width: 75vw;
    }

    #login-form input,
    #login-form button,
    #signup-link {
        font-size: 3.5vw;
        margin-bottom: 2vh;
        border-radius: 12vw;
    }

    #login-cartoon {
        width: 20vw;
    }
}
