#search-input {
    font-size: 2vh;
    background-color: transparent;
    border-radius: 2vh;
    border: 1px solid black;
    outline: none;
    padding: 1vh;
    height: 2vh;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-right: 1vw;
    text-align: center;
 }

#search-icon {
    padding-right: 0.75vw;
}

@media all and (max-width: 1200px) {
    #search-input, #search-icon {
        display: none;
    }
}
