#review-bg-modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.review-index-container {
    display: block;
    background-color: #d9e1b6;
    font-size: 1.5vw;
    text-transform: uppercase;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 8vh;

}

.review-listing-container { 
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: 3vw;
    margin-right: 3vw;
    padding-top: 3vh;
}

.review-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
    margin-left: 4vh;
    margin-right: 4vh;
}

.review-listing-text div {
    width: 90vw;
    padding-bottom: 2vh;
}


.reviewer-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-end;
    margin-bottom: 1vh;
}

.reviewer-content div {
    padding-bottom: 1vh;
}

.review-title {
    font-size: 2vw;
}

.review-body {
    font-size: 1.25vw;
    font-family: "T-Star Regular";
    line-height: 4vh;
}

.review-button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
}

.review-button {
    align-content: center;
    border: 2px solid black;
    width: 25vw;
    text-align: center;
    padding: 1vw;
}

.review-index-header {
    font-size: 4vw;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 3vh;
}

.review-rating {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#review-trash, #review-pencil {
   padding-left: 0.5vw;
   padding-right: 0.5vw;
   cursor: pointer;
}
