 #product-listings {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    width: 100%;
    column-gap: 2vw;
    row-gap: 18vh;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 4vh;
    margin-bottom: 10vh;
 }
 
 .products-header-anim {
   background-color: black;
   border-bottom: 1px solid black;
   width: 100vw;
   overflow: hidden;
 }

 #products-header {
   font-size: 3vw;
   text-transform: uppercase;
   text-align: center;
   margin-top: 8vh;
 }

 #products-anim {
    color: white;
    font-size: 3vw;
    text-transform: uppercase;
    text-align: center;
    margin-left: 2vw;
    letter-spacing: 0.015em;
    white-space: nowrap;
    will-change: transform;
   animation-name: floating-text;
   animation-duration: 15s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   -webkit-font-smoothing: antialiased;
 }

 @keyframes floating-text {
   0% {transform: translate(0%);}
   100% {transform: translate(-100%);}
 }