#cart-modal-background {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
#cart-index {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    background-color: white;
    width: 30%;
    height: 100%;
    z-index: 1;
    overflow-y: scroll;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

#cart-index::-webkit-scrollbar {
    width: 0.65vw;
    height: 2vh;
    padding-left: 0.5vw;
}

#cart-index::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 50vh;
    margin-right: 0.5vw;
}

#cart-header {
    display: block;
    text-align: center;
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    padding-bottom: 3vh;
}

#close-cart {
    display: block;
    font-size: 1.75vw;
    padding-right: 1vw;
    padding-top: 2vh;
    text-align: end;
}

#cart-listings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'T-Star Regular';
        font-size: 2vw;
        text-transform: uppercase;
        margin-top: 3vh;
}

#cart-login {
    display: block;
    font-size: 2vw;
    text-transform: uppercase;
    width: 98%;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 3vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    border: 2px solid black;
}

#cart-cartoon {
    display: block;
    width: 9vw;
    margin-left: auto;
    margin-right: 2vw;
    margin-top: 3vh;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

#checkout-button {
    display: block;
    font-size: 1.5vw;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    border-radius: 3vh;
    background-color: #a8b89a;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: auto;
    margin-right: auto;
}

#shipping-text {
    font-size: 1vw;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 3vh;

}

#cart-subtotal-label {
    font-size: 1.5vw;
    text-transform: uppercase;
    margin-left: 2vw;
}

#cart-subtotal {
    margin-left: 2vw;
}