.starOn {
    color: #ffe394;
}

.starOff {
    color:#c4c2c2
}


#review-modal-container {
    display: none;
    position: fixed;
    top: 18%;
    left: 20%;
}

#review-modal {
    background-color: white;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 60vw;
    height: 65vh;
    z-index: 3;
}

#review-rating > label {
    padding-bottom: 2vh;
    width: 50vw;
} 

 #review-rating > label > div, #review-rating > label > input, #review-rating > label > textarea {
    margin-top: 0.75vh;
}


#review-modal-header {
    font-size: 3vw;
    padding-bottom: 3vh;
    letter-spacing: 0.05em;
}

#star-label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#review-x {
    display: block;
    position: absolute;
    top: 4vh;
    right: 2.5vw;
    margin-left: 40vw;
    cursor: pointer;
}
#star-buttons {
    font-size: 3vw;
    display: flex;
    flex-direction: row;
}

#star-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#review-body-label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: top;
    font-size: 1vw;
}

#review-body {
    font-size: 1.5vw;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 1vh;
}

#star-title-text {
    font-size: 1.5vw;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 1vh;
}

#review-button {
    font-size: 1.5vw;
    border: 1px solid black;
    padding: 1vh;
    cursor: pointer;
}