#profile-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3.25vw;
    margin-top: 20vh;
    text-transform: uppercase;
    height: 90vh;
}

#profile-buttons {
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile-buttons button {
    font-size: 1.5vw;
    border-bottom: 1px solid black;
    margin-left: 2vw;
    margin-right: 2vw;
}

#profile-buttons button:hover {
    background-color: black;
    color: white;
    padding: 0.75vw;
}

.profile-noodles img{
    width: 15vw;
    padding: 3vh;
    margin-top: 15vh;
}

.profile-noodles {
    white-space: nowrap;
}



