#main-container {
    width: 100%;
}

#cart-index {
    /* display: inline-block; */
    z-index: 1;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #2b9348;
    overflow-x: hidden;
    padding-top: 60px;
}


