#show-component {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 4.5vh;
    margin-bottom: 10vh;
}

#show-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
}

#show-text-container div {
    margin-bottom: 1.5vh;
}

#show-picture img {
    height: 80vh;
    border-radius: 5vh;
}

#show-name {
    font-size: 3.5vw;
    text-transform: uppercase;
}

#show-description {
    font-family: 'T-Star Regular';
    font-size: 1.25vw;
    line-height: 3.5vh;
}

#show-price {
    font-size: 2vw; 
}

.show-quantity {
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    border: 1px solid black;
    border-radius: 5vh;
    margin-top: 0.5vh;
    width: 10vw;
    overflow: hidden;
}

.show-quantity > button {
    /* background-color: aqua; */
    text-align: center;
    padding-left: 1.3vw;
    padding-right: 1.3vw;
    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
}

.show-quantity input {
    width: 3vw;
    border: none;
    font-size: 1vw;
    text-align: center;
}

.show-quantity input:focus {
    outline: none;
}

#show-label {
    font-family: 'T-Star Regular';
    font-size: 0.8vw;
    text-transform: uppercase;
    padding-left: 0.25vw;
}

#show-add-button {
    border: 1px solid black;
    border-radius: 5vh;
    font-size: 1.0vw;
    width: 13vw;
    padding: 0.75vw;
    text-transform: uppercase;
}


.show-quantity button:hover, #show-add-button:hover {
    background-color: black;
    color: white;
    
}

@media all and (max-width: 1024px) {
    #show-component {
        flex-wrap: wrap;
        height: 100vh;
        margin-top: 2vh;
        padding-bottom: 10vh;
    }

    #show-picture img { 
        width: 100%;
        height: auto;
    }

    #show-name {
        font-size: 9vw;
        margin-top: 2vh
    }

    #show-description {
        font-size: 3vw;
    }

    #show-price {
        font-size: 8vw;
    }

    #show-label {
        font-size: 2.5vw;
        padding-left: 1vw;
    }
    
    #show-add-button {
        font-size: 4vw;
        width: 35vw;
        padding: 2vw;
    }

    .show-quantity {
        width: 22vw;
    }

    .show-quantity button {
        font-size: 4vw;
        padding-left: 3vw;
        padding-right: 3vw;
    }

    .show-quantity input {
        font-size: 3.5vw;
        padding-left: 2vw;
        padding-right: 2vw;
    }

}


/* noodle-headlines css  */

.noodle-headlines {
    background-color: #feb8af;
    text-transform: uppercase;
    height: 95vh;
}

.headlines-header {
    display: block;
    text-align: center;
    margin: auto;
    padding-top: 5vh;
    font-size: 1.5vw;
    font-family: "T-Star Regular";
    letter-spacing: 0.03em;
}

.headlines-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    font-size: 2.75vw;
    letter-spacing: 0.05em;
    width: 75vw;
    margin: auto;
}

.headlines-grid img {
    padding-right: 2vw;
    width: 5vw;
}

.headlines-grid > li {
    margin-bottom: 2vh;
}

/* noodle-chart */

.noodle-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.noodle-chart-text {
    width: 40vw;
}

.noodle-chart-title {
    font-size: 5.8vw;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 2vh;
}

#noodle-chart-img {
    padding-left: 4vw;
}

.noodle-chart-desc {
    font-size: 1.35vw;
    font-family: "T-Star Regular";
    letter-spacing: 0.03em;
    line-height: 4vh;
}

/* noodle-lifts */

.noodle-lifts {
    background-color: #ffe394;
}

.first-lift, .second-lift {
    position: relative;
    display: flex;
    width: 100vw;
}

.first-lift img {
    padding-top: 7vh;
    width: 50vw;
}

.first-lift-text {
    width: 43vw;
}

.first-lift-title {
    font-size: 5.5vw;
    letter-spacing: 0.02em;
    padding-top: 40vh;
    padding-bottom: 4vh;
}

.first-lift-desc, .second-lift-desc {
    font-size: 1.35vw;
    font-family: "T-Star Regular";
    line-height: 4.25vh;
    letter-spacing: 0.02em;
}

.second-lift img {
    width: 45vw;
    position: absolute;
    right: 0;
    bottom: 10vh;
}

.second-lift-text {
    display: flex;
    flex-direction: column;
    width: 43vw;
    padding-left: 5vw;
    padding-top: 5vh;
}

.second-lift-title {
    font-size: 5.5vw;
    letter-spacing: 0.02em;
    padding-bottom: 4vh;
}

.vita-text {
    font-size: 2.1vw;
    letter-spacing: 0.02em;
    line-height: 6vh;
    width: 70vw;
    margin-left: 6vw;
    padding-top: 15vh;
    padding-bottom: 15vh;
}