.listing-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product-image img {
    width: 100%;
    object-fit: contain;
    max-height: 30vh;
    border-radius: 3vw;
}

.product-text {
    width: 90%;
    text-align: left;
    padding-left: 5%;
}

.product-item {
    width: 90%;
    text-transform: uppercase;
    font-size: 1.25vw;
    margin-top: 2vh;
}

.product-price {
    font-size: 1.25vw;
}